<title>Shanghai TOP10</title>
<link rel="icon" href="/images/front/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/static/images/front/favicon.ico" type="image/x-icon" />
<link rel="bookmark" href="/static/images/front/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/stylesheets/front/style.css">
<script type="text/javascript" src="/javascripts/jquery-2.1.4.min.js"></script>