<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <% include commons/scripts.ejs %>
</head>
<body>
<!-- header -->
<% include commons/header.ejs %>

<!-- 图片上说明 -->
<div id="headline">
    <img src="/images/front/headline.jpg" alt="">
    <hgroup>
        <h2>Enjoy the scenery</h2>
        <h3>Various scenery figures show here...</h3>
    </hgroup>
</div>
<!-- 侧栏 -->
<div id="container">
    <!-- list区域 -->
    <h2 style="font-family:'Times New Roman'">Scenery Appreciation</h2>
    <section class="figureArea">
        <div class="box">
            <figure class="pic">
                <img src="/images/front/scenery/s1.bmp" alt="曼谷-芭提雅">
                <figcaption>曼谷[共 8 张]</figcaption>
            </figure>
        </div>
        <div class="box">
            <figure class="pic">
                <img src="/images/front/scenery/s2.bmp" alt="马尔代夫双鱼岛">
                <figcaption>马尔代夫[共 12 张]</figcaption>
            </figure>
        </div>
        <div class="box">
            <figure class="pic">
                <img src="/images/front/scenery/s3.bmp" alt="海南">
                <figcaption>海南[共 19 张]</figcaption>
            </figure>
        </div>
        <div class="box">
            <figure class="pic">
                <img src="/images/front/scenery/s4.bmp" alt="富山-大阪-东京">
                <figcaption>东京[共 22 张]</figcaption>
            </figure>
        </div>
        <div class="box">
            <figure class="pic">
                <img src="/images/front/scenery/s5.bmp" alt="法瑞意德">
                <figcaption>德国[共 31 张]</figcaption>
            </figure>
        </div>
        <div class="box">
            <figure class="pic">
                <img src="/images/front/scenery/s6.bmp" alt="巴厘岛">
                <figcaption>巴厘岛[共 12 张]</figcaption>
            </figure>
        </div>
        <div class="box">
            <figure class="pic">
                <img src="/images/front/scenery/s7.bmp" alt="塞舌尔迪拜">
                <figcaption>塞舌尔[共 7 张]</figcaption>
            </figure>
        </div>
        <div class="box">
            <figure class="pic">
                <img src="/images/front/scenery/s8.bmp" alt="花样土耳其">
                <figcaption>土耳其[共 14 张]</figcaption>
            </figure>
        </div>
        <div class="box">
            <figure class="pic">
                <img src="/images/front/scenery/s9.bmp" alt="九寨沟">
                <figcaption>九寨沟[共 8 张]</figcaption>
            </figure>
        </div>
    </section>
</div>
<div class="clear"></div>
<!-- 底部区域 -->
<% include commons/footer.ejs %>
<script src="/javascripts/front/scenery.js"></script>
</body>
</html>